.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Layout main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
}